div{
	position: center;
	text-align: center;
    border: 3px solid;
    padding: ;
    margin: 500px;
    margin-top: 10px;
    background-image:url("https://ci.mit.edu/sites/default/files/images/photo-video-detail_0.png;")
}
button{
	color: blue;
}
h2{
	color: red;
}